<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Go to <a href="https://github.com/Do3008/Primes">Mulapese</a>  for guidelines</p>
  </body>
</html>
